#landing
  .container
    %header.hero-unit
      %h1
        SASCAB
        %p Software Academico San Carlos Borromeo
      %p
        %a.btn.btn-green.btn-large{"data-link" => "modal", "data-target" => "#signup-modal", :href => "/signup/"} Estudiante
        %a.btn.btn-green.btn-large{"data-link" => "modal", "data-target" => "#signup-modal", :href => "/signup/"} Docente